.autocomplete-root {
  width: 250px;
  margin: 0 auto;

  .autocomplete-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .autocomplete-suggestions {
    margin-top: 8px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
  }

  .autocomplete-suggestion {
    padding: 10px;
    cursor: pointer;
  }
}