.settings-container {
  padding: 20px;

  .form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    .ant-form-item {
      margin-bottom: 16px;
    }

    .ant-input-password {
      width: 30%;
    }

    .ant-btn-primary {
      width: 30%;
    }

    .ant-alert {
      margin-bottom: 16px;
    }
  }
}
