.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*
    .container {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #1d4b00;
        h1 {
            font-size: 50px;
        }

        Form {
            display: flex;
            flex-direction: column;
            background-color: #638f48;
            padding: 40px;
            width: 200px;
            gap: 10px;

            input {
                padding: 10px;
                border: none;
                border-bottom: 1px solid gray;
            }

            button {
                padding: 10px;
                border: none;
                background-color: #1d4b00;
                color: black;
            }

            span {
                font-size: 12px;
                text-align: center;
                color: black;
            }
        }
    }
    */
}

.containerRegister {
    width: 600px;
    height: 420px;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;

    h1 {
        color: white;
    }

    Form {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;

        input {
            padding: 0;
            margin: 0;
        }

        button {
            border: none;
            width: 150px;
            background-color: var(--primary-color);
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                color: white;
            }
        }

        span {
            font-size: 20px;
            text-align: center;
            color: black;
        }
        a {
            width: 140px;
            color: white;
            border-color: white;
        }
    }
}

#normal_register > div:nth-child(5) > div > div > div > div {
    display: flex;
    justify-content: center;
}
