.success-create {
  text-align: center;
  margin-top: 50px;

  .ant-result {
    font-size: 1.5em;
    padding: 20px;
    border-radius: 10px;

    h1 {
      font-size: 3em;
      margin-bottom: 20px;
    }

    .ant-result-subtitle {
      font-size: 1.5em;
      margin-bottom: 30px;
    }

    .button-container {
      display: flex;
      justify-content: center;

      button {
        margin-right: 20px;
        font-size: 1.2em;
      }
    }
  }
}