.dashboard-container {
  padding: 20px;

  .user-card {
    width: 100%;

    .ant-space-horizontal {
      align-items: center;

      .profile-pic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }

      .ant-space-vertical {
        .ant-typography + .ant-typography {
          margin-top: 8px;
        }
      }
    }
  }
}
