.slideshow {
    width: 80%;
    height: 250px;
    border-radius: 30px;
    background: #8697c4;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    margin-top: 50px;
}

.slides {
    display: flex !important;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

.slideshow img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    cursor: pointer;
}

.slideshow button {
    background-color: black !important;
    height: 6px !important;
}

.slideshow img:hover {
    transform: scale(103%);
}
