.categories {
    width: 400px;
    height: 1400px;
    border-radius: 10px;
    margin-right: 50px;
    background-color: rgba(224, 224, 224, 0.48);
}

.categories span {
    font-size: x-large;
}

.categories li {
    padding-bottom: 5px;
}
