.sidebar {
    width: 100px;
    height: 90%;
    border-radius: 30px;
    background-color: #adbbda;
    margin-right: 250px;
}

.sidebarSlide {
    width: 300px;
    height: 230px;
    border-radius: 30px;
    margin-right: 50px;
    background-color: #8697c4;
    box-shadow: 15px 15px 30px #9898ba, -15px 15px 30px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 100px;
    transform: translateX(-20%);
}

.list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.listItem {
    list-style: none;
    padding: 5px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
    width: 80%;
    color: white;
    font-weight: 600;
}

.listItem:hover {
    transform: scale(103%);
    background-color: var(--accent-color);
    color: var(--primary-color);
}
