.card {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 16px 0;
  text-decoration: none;
  color: inherit;

  & {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card-img {
    flex: 1; /* Take up 1 part out of 4 (flex: 1) */
    max-width: 25%; /* Maximum width of 25% */
    position: relative;

    img {
      width: 100%; /* Image fills its container */
      height: 100px; /* Adjusted height as specified */
      object-fit: cover;
    }

    .card-img-badge {
      position: absolute;
      top: 8px;
      right: 8px;
      background-color: #5c16c5;
      color: white;
      padding: 2px 6px;
      border-radius: 4px;
      font-size: 12px;
    }
  }

  .card-details {
    flex: 3; /* Take up 3 parts out of 4 (flex: 3) */
    max-width: 75%; /* Maximum width of 75% */
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card-location {
      font-size: 12px;
      color: #888;
    }

    .card-title {
      font-size: 16px;
      font-weight: bold;
      margin: 8px 0;
    }

    .card-description {
      font-size: 14px;
      color: #555;
      margin: 8px 0;
    }

    .card-price {
      font-size: 18px;
      color: #0a0;
      margin: 8px 0;
    }

    .card-info {
      font-size: 14px;
      color: #555;
      display: flex;
      justify-content: space-between;
    }
  }
}
