.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.top {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

.buttonsTop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 0 20px;
}

#homeLink {
  border: none;
  width: 200px;
}

.imageLogo {
  width: 150px;
}

.buttonRegister {
  background-color: white;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  width: 120px;
  height: 35px;
  cursor: pointer;

  a {
    border: none;
    text-decoration: none;
    color: var(--primary-color);
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    background-color: var(--primary-color);
    border: none;

    a {
      color: white;
    }
  }
}

.buttonEinloggen {
  border: none;
  background-color: var(--primary-color);
  cursor: pointer;
  width: 120px;
  height: 35px;
  border-radius: 50px;

  a {
    color: white;
    border: none;
    text-decoration: none;
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    background-color: white;
    border: 2px solid var(--primary-color);

    a {
      color: var(--primary-color);
    }
  }
}

.buttonLogout {
  border: none;
  background-color: var(--primary-color);
  cursor: pointer;
  width: 120px;
  height: 35px;
  border-radius: 50px;
  color: white;

  &:hover {
    background-color: white;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
  }
}

#userName {
  font-size: large;
  font-weight: 600;
  color: var(--primary-color);
  padding-right: 20px;
}

//-------------------------------------------------------------------------------------------
.function-bar-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: var(--secondary-color);
}

.function-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  position: relative;

  .input-with-dropdown {
    display: flex;
    align-items: stretch;
    width: 450px;
    gap: 0;

    input[type='text'] {
      width: 300px;
      border-radius: 12px 0 0 12px;
      padding-left: 10px;
      border: 1px solid #ddd;
      background-color: #fff;
    }

    .category-dropdown {
      height: 35px;
      width: 150px;
      padding: 0 10px;
      font-size: 14px;
      background-color: #fff;
      background-size: 16px 16px;
      border-radius: 0 12px 12px 0;
      border: 1px solid #ddd;
    }
  }

  .city-dropdown {
    height: 35px;
    width: 150px;
    padding: 0 10px;
    font-size: 14px;
    background-color: #fff; /* Set background color to match the input field */
    background-size: 16px 16px;
  }

  #searchBtn,
  #accountBtn {
    width: 130px;
    height: 35px;
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 50px;
    padding: 5px 12px;
    font-weight: 700;
    color: white;

    &:hover {
      background-color: white;
      color: var(--primary-color);
    }
  }

  #newArticleBtn {
    width: 200px;
    height: 35px;
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 50px;
    padding: 5px 12px;
    font-weight: 700;
    color: white;

    &:hover {
      background-color: white;
      color: var(--primary-color);
    }
  }
}
