.main {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 20px 0;
    padding: 20px 0;
}

.formContainer {
    width: 500px;
    height: 600px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    border-bottom: 1px solid black;
    width: 100%;
    display: block;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ant-upload ant-upload-select {
    background-color: aqua;
}
