.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--accent-color);
    background-color: white;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.buttonsTop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 0 20px;
}

#homeLink {
    border: none;
    width: 200px;
}

.imageLogo {
    width: 200px;
}

.buttonRegister {
    background-color: white;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    width: 120px;
    height: 35px;
    cursor: pointer;
    a {
        border: none;
        text-decoration: none;
    }

    &:hover {
        background-color: var(--primary-color);
        border: none;
        a {
            color: white;
        }
    }
}

.buttonEinloggen {
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
    width: 120px;
    height: 35px;
    border-radius: 50px;
    a {
        color: white;
        border: none;
        text-decoration: none;
    }

    &:hover {
        background-color: white;
        border: 2px solid var(--primary-color);
        a {
            color: black;
        }
    }
}

.buttonLogout {
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
    width: 120px;
    height: 35px;
    border-radius: 50px;
    color: white;
    &:hover {
        background-color: white;
        border: 2px solid var(--primary-color);
        color: black;
    }
}

#userName {
    font-size: large;
    font-weight: 600;
    color: var(--primary-color);
    padding-right: 20px;
}

.down {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: var(--secondary-color);
}

//-------------------------------------------------------------------------------------------

.buttonsDown {
    input {
        border: none;
        width: 200px;
        height: 30px;
        border-radius: 12px;
        padding-left: 10px;
    }

    input:first-child {
        margin-right: 60px; // Hier wird ein Abstand zwischen den Inputsfelder einggefügt.
    }

    #searchBtn,
    #accountBtn {
        width: 130px;
        height: 35px;
        margin-left: 30px;
        border: none;
        background-color: var(--primary-color);
        cursor: pointer;
        border-radius: 50px;
        padding: 5px 12px;
        font-weight: 700;
        color: white;

        &:hover {
            background-color: white;
            color: var(--primary-color);
        }
    }
}
