.top {

  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 200px;
  gap: 5px;
  margin-right: 48px; //margin ist von der ganzen Webseite während padding von der ganzen Container
}

.imageLogo {
  width: 300px;
  margin-left: 10 px;
}

.buttonRegister {
  background-color: white;
}

.buttonEinloggen {
  border: none;
  background-color: rgb(44, 254, 69);
}