.SideMenuAndPageContent {
    display: flex; // Use flexbox to align elements
    height: 100vh; // Make the layout full-height

    .SideMenu {
        width: 250px; // Set a fixed width for the sidebar
        background-color: #f5f5f5; // Light gray for the background
        padding: 20px; // Add some padding for spacing
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); // Add a subtle shadow for separation
        position: sticky; // Keep the sidebar fixed when scrolling
        top: 0; // Keep the sidebar at the top
    }

    .PageContent {
        flex-grow: 1; // Let the content take the remaining space
        padding: 20px; // Add padding for spacing
        overflow-y: auto; // Allow vertical scrolling if content overflows
    }
}

.user-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-layout__content {
    width: 90%;
    margin: 30px 0;
}
