@import 'register';

:root {
    --primary-color: #3d52a0; /* Example blue */
    --secondary-color: #7091e6; /* Example green */
    --accent-color: #ede8fe; /* Example red */
    --text-color: #333; /* Dark grey for text */
}

body {
    margin: 0;
}

.app {
    display: flex;
    justify-content: center;
    background-color: var(--accent-color);

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
