@import 'register';

:root {
    --primary-color: #486d9e;
    --secondary-color: #7099e6;
    --accent-color: #e8f5fe; 
    --text-color: #333;
}

body {
    margin: 0;
}

.app {
    display: flex;
    justify-content: center;
    background-color: var(--accent-color);
    background-color: white;

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
